/* .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: darkslategrey;
}

li {
    font-size: large;
    font-weight: 600;
    list-style: none;
}

.nav-container {
    list-style: none;
}

.nav-container li {
    display: inline-block;
    padding: 0px 20px;

}

.nav-container li .nav-links {
    color: white;
    transition: all 0.4s ease 0s;
    text-decoration: none;
}

.nav-container li .nav-links:hover {
    color: lightsteelblue;
}

.text {
    font-weight: 600;
    font-size: 32px;
    color: whitesmoke;
} */