/* .dashboard {
    width: 100%
}

.calender-container {
    border: 1px solid grey;
}

.calender-days-name, .calender-week {
    display: flex;
}

.calender-cell {
    flex: 1;
    height: 64px;
    border: 1px solid grey;
    cursor: pointer;
    padding-top: 10px;
} */