/* .schedular-container {
  width: 100%;
} */

/* .form {
  width: 50%;
  margin: auto;
  border: 1px dotted grey;
  border-radius: 2px;
  padding: 10px;
} */

/* .form-group {
  display: flex;
  justify-content: space-between;
} */

/* .form-label {
  padding-top: 25px;
} */

/* .email-multiple-input{
  width: 75%;
  height: 35px;
  padding: 0 1rem;
  box-sizing: border-box;
  font: inherit;
  border-radius: 0.2rem;
  border: 2px solid #d4d5d6;
  color: #565656;
  -webkit-appearance: none;
  } */

/* .email-multiple-input:focus {
  border-color: rgb(11, 88, 230);
  outline: none;
}

.has-error:focus {
  border-color: rgb(241, 101, 76);
}

.error {
  margin: 0;
  font-size: 90%;
  color: rgb(241, 101, 76);
}

.remove-email-button {
  border-radius: 50% !important;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
} */