body {
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
}

.App-link {
  color: #61dafb;
}

/* Login form css starts */

.login-form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.form {
    width: 500px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2rem;
    background: white;
}

.error-message {
  color: red;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
}

.form-group label {
    font-size: 14px;
    color: #5d5a5a;
    font-weight: normal;
    margin-bottom: 0.25rem;
}

.form-group input {
	width: 95%;
	font-size: 16px;
	padding: 10px;
} 

.form-group button {
	padding: 10px;
	background: #1d88ca;
	color: white;
	outline: 0;
	border-radius: 5px;
	border: transparent;
}

/* Login form css ends */

/* Calender css starts */


.dashboard {
  width: 100%;
  height: fit-content;
}

.calender-container {
  width: 60%;
  margin: auto;
  border: 1px solid grey;
}

.calender-days-name, .calender-week {
  display: flex;
}

.calender-days-name {
  border-bottom: 1px solid grey;
  line-height: 3.5;
}

.calender-cell {
  flex: 1;
  height: 64px;
  cursor: pointer;
  padding-top: 10px;
}

.calender-cell:nth-last-child(-n+2) {
  background-color: rgb(236 234 234);
}

.calender-cell-blue-circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: blue;
  margin: auto;
  margin-top: 16px;
}

.colored-cell {
  background-color: lightskyblue !important;
}

/* Calender css ends */

/* Menu Navbar starts */

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  background-color: darkslategrey;
}

li {
  font-size: large;
  font-weight: 600;
  list-style: none;
}

.nav-container {
  list-style: none;
}

.nav-container li {
  display: inline-block;
  padding: 0px 20px;

}

.nav-container li .nav-links {
  color: white;
  transition: all 0.4s ease 0s;
  text-decoration: none;
}

.nav-container li .nav-links:hover {
  color: lightsteelblue;
}

.text {
  font-weight: 600;
  font-size: 32px;
  color: whitesmoke;
}

/* Navbar ends*/

/* Schedular starts*/

.schedular-container {
  width: 100%;
}

.email-multiple-input:focus {
  border-color: rgb(11, 88, 230);
  outline: none;
}

.has-error:focus {
  border-color: rgb(241, 101, 76);
}

.error {
  margin: 0;
  font-size: 90%;
  color: rgb(241, 101, 76);
}

.remove-email-button {
  border-radius: 50% !important;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Schedular style ends*/

/* PopUp modal style starts*/

.popup-box {
  margin: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up {
  width: 500px;
  background:rgb(198, 222, 236);
  border: 1px solid rgb(80, 77, 77);
}

.pop-up  h3, .pop-up .content {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}

.pop-up .content li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pop-up .content li span, .pop-up .content li ul {
  display: inline-block;
  min-width: 150px;
  text-align: left;
}

.pop-up .actions {
  padding: 0.5rem 1rem;
}

.pop-up .actions button {
  border: 0;
  background: rgb(63, 147, 216);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.margin-left-none {
  padding-left: 0px;
}

/* PopUp modal style starts*/